/*header setup*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  background-color: var(--container-color);
  padding: 0 10%;
  font-size: clamp(0.7rem, 2vw, 1rem);
}

.title {
  font-weight: 1000;
}

.portfolio-link {
  font-weight: 500;
}

.logo a {
  font-family: "Pacifico", sans-serif;
  background-image: var(--accent-color);
  color: transparent;
  background-clip: text;
}

.logo a:link,
.logo a:visited {
  font-family: "Pacifico", sans-serif;
  background-image: var(--accent-color);
  color: transparent;
  background-clip: text;
  text-decoration: none;
}

.title {
  font-weight: 700;
}

.back-to-portfolio-link:link,
.back-to-portfolio-link:visited {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 0.5rem;
  border-radius: 20px;
}

.back-to-portfolio-link:hover {
  color: var(--container-color);
  background-color: var(--text-color);
}
