:root {
  --container-color: #ffffff;
  --text-color: #222222;
  --background-color: #f8f8f8;
  --accent-color: linear-gradient(140deg, #065143, #9ad4d6);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* --- css reset --- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* mobile defaults */
body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*utility classes*/

.container {
  width: 90%;
  max-width: 900px;
  border-radius: 20px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: var(--container-color);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.frosted {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

main {
  flex: 1;
  display: grid;
  place-items: center;
  margin-bottom: 10rem;
}

/*font setup*/

h1 {
  width: 100%;
  padding-top: 2rem;
  margin: auto;
  color: #222222;
  color: #f0f0f0d8;
}
